
/*-- scss:rules --*/

/* per-box text color workaround */
.ia-dark-box {
  color: #1e2226 !important;
}

.ia-dark-box .value-box-title,
.ia-dark-box .value-box-value,
.ia-dark-box .value-box-icon,
.ia-dark-box svg {
  color: #1e2226 !important;
  fill: #1e2226 !important;
}

.ia-light-box {
  color: #1e2226 !important;
}

.ia-light-box .value-box-title,
.ia-light-box .value-box-value,
.ia-light-box .value-box-icon,
.ia-light-box svg {
  color: #1e2226 !important;
  fill: #1e2226 !important;
}


